# ========================
# Sistema Operacional
# ========================
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
._*

# ========================
# Editores / IDEs
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# ========================
# Node (caso use no futuro)
# ========================
node_modules/
npm-debug.log*
package-lock.json

# ========================
# Outros
# ========================
*.log
*.tmp
*.bak
.env
